<div id="aboutus" class=" aboutus">
    <div class="container aboutus-contentbox">
        <div class="about-content">
            <div class="about-img">
                <img id="about-img" src="../../../assets/images/aboutus-img.jpg" alt="about-img" />
            </div>
            <div class=" about-description">
                <div class="des-titles">
                    <div class="about-title1">We Create</div>
                    <div class="about-title2">Awesome Work</div>
                </div>
                <div class="description-text">
                    <div class="des-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aperiam
                        accusamus cupiditate, porro voluptatibus quidem consequuntur temporibus excepturi laboriosam et.
                        Quod ipsum consequuntur atque ad ex nostrum, aperiam ipsa reprehenderit.</div>
                    <div class="des-text"> ipsam incidunt repellendus non dolorem ex magni eaque suscipit</div>
                    <div class="des-text">Quod, praesentium soluta minima nisi officiis eligendi ipsa recusandae
                        consectetur</div>
                </div>
            </div>
        </div>
    </div>
</div>