<div id="contactus" class="contactus">
    <div class="container contactus-content">
        <div class="contactus-contentbox">
            <div class="contentbox-left">
                   <div class="contactus-titles">
                    <div class="contactus-description">Get Here</div>
                    <div class="contactus-heading">Contact Us</div>
                   </div>
                   <div class="contactus-details">
                    <div class="contactus-detail-1 contactus-padding">
                        <div class="contactus-icon"><i class="bi bi-geo-alt"></i></div>
                        <div class="contactus-address">
                            <div class="contactus-data">Location</div>
                            <div class="contactus-dataid">12345 Fake ST Nowhere AB Country</div>
                        </div>
                    </div>
                    <div class="contactus-detail-1 contactus-padding">
                        <div class="contactus-icon"><i class="bi bi-phone"></i></div>
                        <div class="contactus-address">
                            <div class="contactus-data">Phone Number</div>
                            <div class="contactus-dataid">(123) 456-7890</div>
                        </div>
                    </div>
                    <div class="contactus-detail-1 contactus-padding">
                        <div class="contactus-icon"><i class="bi bi-envelope"></i></div>
                        <div class="contactus-address">
                            <div class="contactus-data">Email Address</div>
                            <div class="contactus-dataid">info@website.com</div>
                        </div>
                    </div>
                    <div class="contactus-detail-1">
                        <div class="contactus-icon"><i class="bi bi-globe"></i></div>
                        <div class="contactus-address">
                            <div class="contactus-data">example.com</div>
                            <div class="contactus-dataid">info@website.com</div>
                        </div>
                    </div>
                   </div>
            </div>
            <div class="contentbox-right">
                <div class="getintouch-titles">
                    <div class="getintouch-description">Available 24/7</div>
                    <div class="getintouch-heading">Get In Touch</div>
                </div>
                <div class="getintouch-fields">
                    <form class="getintouch-fields">
                        <div class="mb-3">
                          <input  type="email" placeholder="Enter Email" class="form-control getintouch-input" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <input type="password"  placeholder="Password" class="form-control getintouch-input" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control getintouch-msgbox"  placeholder="Message"  id="exampleFormControlTextarea1" rows="11"></textarea>
                          </div>
                        <button type="submit" onclick="return false" class="btn btn-light getintouch-btn">Send Message</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
