<div class="funfacts">
    <div class="container-fluid funfacts-content">
        <div class="funfacts-titles">
           <div class="funfacts-description">We Are Awesome</div>
           <div class="funfacts-heading">Some Fun Fucts</div>
        </div>
        <div class="container-fluid funfacts-boxes">
            <div class="funfacts-group1">
                <div class="funfact-box fun-box-1">
                    <div class="funfacts-logo fun-logo1"><i class="bi bi-trophy"></i></div>
                    <div class="funfacts-texts">
                        <div class="funfacts-text-1">100+</div>
                        <div class="funfacts-text-2">Awards Won</div>
                    </div>
                </div>
                <div class="funfact-box fun-box-2">
                    <div class="funfacts-logo fun-logo2"><i class="bi bi-emoji-smile"></i></div>
                    <div class="funfacts-texts">
                        <div class="funfacts-text-1">100+</div>
                        <div class="funfacts-text-2">Happy Clients</div>
                    </div>
                </div>
            </div>
            <div class="funfacts-group2"><div class="funfact-box fun-box-3">
                <div class="funfacts-logo fun-logo3"><i class="bi bi-cast"></i></div>
                <div class="funfacts-texts">
                    <div class="funfacts-text-1">845+</div>
                    <div class="funfacts-text-2">Project Completed</div>
                </div>
            </div>
            <div class="funfact-box fun-box-4">
                <div class="funfacts-logo fun-logo4"><i class="bi bi-chat-text"></i></div>
                <div class="funfacts-texts">
                    <div class="funfacts-text-1">15K+</div>
                    <div class="funfacts-text-2">Comments</div>
                </div>
            </div></div>
        </div>
    </div>
</div>