<div id="testimonial" class="testimonial">
    <div class="container testimonial-content">
        <div class="testimonial-titles">
            <div class="testimonial-description">Testimonial</div>
            <div class="testimonial-heading">What Our Clent Says</div>
        </div>
        <div class="container testimonial-reviews">
            <div class="testimonial-review-1">
             <div class="testimonial-image">
                <img id="testimonial-img" src="../../../../assets/images/testimonial-img-1 (2).png"/>
             </div>
             <div class="testimonial-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quidem, voluptates totam debitis itaque dolore distinctio unde numquam eos eius voluptatem ullam impedit.</div>
             <div class="testimonial-author">Richard Reb</div>
            </div>
            <div class="testimonial-review-2">
                <div class="testimonial-image">
                    <img id="testimonial-img" src="../../../../assets/images/testimonial-img-2.png"/>
                </div>
                <div class="testimonial-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quidem, voluptates totam debitis itaque dolore distinctio unde numquam eos eius voluptatem ullam impedit.</div>
                <div class="testimonial-author">John Doe</div>
            </div>
        </div>
    </div>
</div>
