<div id="ourangels" class="ourangels">
    <div class="container ourangels-content">
        <div class="ourangels-titles">
          <div class="ourangels-subtitle">Meet With</div>
          <div class="ourangels-heading">Our Angels</div>
        </div>
        <div class="ourangels-block-1">
           <div class="ourangels-box">
             <div class="ourangels-image angel-image-1"></div>
             <div  class="ourangels-role">FOUNDER</div>
             <div class="ourangels-name">Matthew Davis</div>
             <div class="ourangels-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio doloribus adipisci modi inventore deserunt. Laborum sit.</div>
             <div class="ourangels-logos">
                <div class="angel-logo"><i class="bi bi-facebook"></i></div>
                <div class="angel-logo"><i class="bi bi-twitter"></i></div>
                <div class="angel-logo"><i class="bi bi-dropbox"></i></div>
                <div class="angel-logo"><i class="bi bi-linkedin"></i></div>
             </div>
           </div>
           <div class="ourangels-box">
            <div class="ourangels-image angel-image-2"></div>
             <div  class="ourangels-role">CEO</div>
             <div class="ourangels-name">Barbara Ross</div>
             <div class="ourangels-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio doloribus adipisci modi inventore deserunt. Laborum sit.</div>
             <div class="ourangels-logos">
                <div class="angel-logo"><i class="bi bi-facebook"></i></div>
                <div class="angel-logo"><i class="bi bi-twitter"></i></div>
                <div class="angel-logo"><i class="bi bi-dropbox"></i></div>
                <div class="angel-logo"><i class="bi bi-linkedin"></i></div>
             </div>
           </div>
           <div class="ourangels-box">
            <div class="ourangels-image angel-image-3"></div>
             <div  class="ourangels-role">Designer</div>
             <div class="ourangels-name">Karen Perry</div>
             <div class="ourangels-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio doloribus adipisci modi inventore deserunt. Laborum sit.</div>
             <div class="ourangels-logos">
                <div class="angel-logo"><i class="bi bi-facebook"></i></div>
                <div class="angel-logo"><i class="bi bi-twitter"></i></div>
                <div class="angel-logo"><i class="bi bi-dropbox"></i></div>
                <div class="angel-logo"><i class="bi bi-linkedin"></i></div>
             </div>
           </div>
        </div>
        <div class="ourangels-block-2">
            <div class="ourangels-box">
                <div class="ourangels-image angel-image-4">1</div>
                <div  class="ourangels-role">App Designer</div>
                <div class="ourangels-name">Ashley Diaz</div>
                <div class="ourangels-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio doloribus adipisci modi inventore deserunt. Laborum sit.</div>
                <div class="ourangels-logos">
                   <div class="angel-logo"><i class="bi bi-facebook"></i></div>
                   <div class="angel-logo"><i class="bi bi-twitter"></i></div>
                   <div class="angel-logo"><i class="bi bi-dropbox"></i></div>
                   <div class="angel-logo"><i class="bi bi-linkedin"></i></div>
                </div>
            </div>
            <div class="ourangels-box">
                <div class="ourangels-image angel-image-5">
                </div>
                <div  class="ourangels-role">Developer</div>
                <div class="ourangels-name">Edward Harris</div>
                <div class="ourangels-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio doloribus adipisci modi inventore deserunt. Laborum sit.</div>
                <div class="ourangels-logos">
                   <div class="angel-logo"><i class="bi bi-facebook"></i></div>
                   <div class="angel-logo"><i class="bi bi-twitter"></i></div>
                   <div class="angel-logo"><i class="bi bi-dropbox"></i></div>
                   <div class="angel-logo"><i class="bi bi-linkedin"></i></div>
                </div>
            </div>
            <div class="ourangels-box">
                <div class="ourangels-image angel-image-6">1</div>
                <div  class="ourangels-role">Photographer</div>
                <div class="ourangels-name">Brain Scott</div>
                <div class="ourangels-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed odio doloribus adipisci modi inventore deserunt. Laborum sit.</div>
                <div class="ourangels-logos">
                   <div class="angel-logo"><i class="bi bi-facebook"></i></div>
                   <div class="angel-logo"><i class="bi bi-twitter"></i></div>
                   <div class="angel-logo"><i class="bi bi-dropbox"></i></div>
                   <div class="angel-logo"><i class="bi bi-linkedin"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
