<div id="ourservice" class="ourservice">
    <div class="container ourservice-content">
        <div class="service-titles">
           <div class="service-title1">
            Makes Happen
           </div>
           <div class="service-title2">
            Our Service
           </div>
        </div>
        <div class="container-fluid service-boxes">
            <div class=" servicebox-1">
                <div class="service-box">
                    <div class="service-icon"><i class="bi bi-funnel"></i></div>
                    <div class="service-heading">Corporis Asemenda</div>
                    <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officia, similique quam maxime atque.</div>
                </div>
                <div class="service-box">
                    <div class="service-icon"><i class="bi bi-paint-bucket"></i></div>
                    <div class="service-heading">Vicher Lopeus</div>
                    <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officia, similique quam maxime atque.</div>
                </div>
                <div class="service-box">
                    <div class="service-icon"><i class="bi bi-pencil"></i></div>
                    <div class="service-heading">Solanam Vientus</div>
                    <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officia, similique quam maxime atque.</div>
                </div>
                <div class="service-box">
                    <div class="service-icon"><i class="bi bi-file-earmark"></i></div>
                    <div class="service-heading">Fieo Tontus</div>
                    <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officia, similique quam maxime atque.</div>
                </div>
            </div>
            <div class="servicebox-2">
                 <div class="service-box">
                    <div class="service-icon"><i class="bi bi-lightning"></i></div>
                    <div class="service-heading">Gibres Pares</div>
                    <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officia, similique quam maxime atque.</div>
                 </div>
                 <div class="service-box">
                    <div class="service-icon"><i class="bi bi-palette"></i></div>
                    <div class="service-heading">Stadia Cumbus</div>
                    <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officia, similique quam maxime atque.</div>
                 </div>
                 <div class="service-box">
                    <div class="service-icon"><i class="bi bi-graph-up-arrow"></i></div>
                    <div class="service-heading">Biew Chinew</div>
                    <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officia, similique quam maxime atque.</div>
                 </div>
                 <div class="service-box">
                    <div class="service-icon"><i class="bi bi-arrow-up-left-circle"></i></div>
                    <div class="service-heading">Pieole Vieve</div>
                    <div class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, officia, similique quam maxime atque.</div>
                 </div>
            </div>
        </div>
    </div>
</div>
