<div id="homepage" class="homepage">
    <div class=" home-content">
        <div class="home-innercontent">
            <div class="home-smalltext">
                Small Team With Big Ideas
            </div>
            <div class="home-boldtext">
                Creative Studio
            </div>
        </div>
        <div class="home-btns">
            <div><button type="button" class="btn btn-sm btn-light home-btn1">Our Service</button></div>
            <div><button type="button" class="btn btn-sm btn-light home-btn2">Contact Us</button></div>
        </div>
    </div>
</div>
<div class="emptyspace">
    <div class="home-box">
        <app-homebox></app-homebox>
    </div>
</div>