<div class="footer">
    <div class="container-fluid footer-content">
        <div class="container footer-fullcontent">
            <div class="footer-content-1">
                <div class="footer-content1-title">ABOUT US</div>
                <div class="footer-data">
                    <div class="footer-image"><i class="bi bi-amd header-logo"></i></div>
                    <div class="footer-brandname">Creative Studio</div>
                </div>
                <div class="footer-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
                    quis, aut cum ratione veniam sed excepturi voluptas maxime dignissimos suscipit ex repudiandae.
                </div>
                <div class="footer-copyrightdata">
                    <div class="copyright-data-1">Copyright 2023</div>
                    <div class="copyright-logo"><i class="bi bi-c-circle copyright-logo"></i></div>
                    <div class="copyright-data-2">DevCRUD</div>
                </div>
            </div>
            <div class="footer-content-2">
                <div class="footer-content1-title">USEFUL LINKS</div>
                <div class="footer-content2-box">
                    <div class="footer-content2-left">
                        <div class="footer-cont">About</div>
                        <div class="footer-cont">Service</div>
                        <div class="footer-cont">Portfolio</div>
                        <div class="footer-cont">Testimonial</div>
                    </div>
                    <div class="footer-content2-right">
                        <div class="footer-cont">Team</div>
                        <div class="footer-cont">Blog</div>
                        <div class="footer-cont">Faq</div>
                        <div class="footer-cont">Privacy Policy</div>
                    </div>
                </div>
            </div>
            <div class="footer-content-3">
                <div class="footer-content1-title">CONTACT INFO</div>
                <div class="footer-contactinfo">
                    <div class="footer-info-1">Contact us and we will get back to you within 24 hours</div>
                    <div class="footer-info-2">
                        <div class="footer-info-logo"><i class="bi bi-geo-alt footer-info-logo"></i></div>
                        <div class="footer-info-content">12345 Fake ST Nowhere AB Country</div>
                    </div>
                    <div class="footer-info-email">
                        <div class="footer-email-logo"><i class="bi bi-envelope"></i></div>
                        <div class="footer-email-content">info@website.com</div>
                    </div>
                    <div class="footer-email-logos">
                        <div class="footer-logo-1"><i class="bi bi-facebook"></i></div>
                        <div class="footer-logo-1"><i class="bi bi-twitter"></i></div>
                        <div class="footer-logo-1"><i class="bi bi-pinterest"></i></div>
                        <div class="footer-logo-1"><i class="bi bi-google-play"></i></div>
                        <div class="footer-logo-1"><i class="bi bi-instagram"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>