<div class="banner">
    <div class="container-fluid banner-content">
        <div class="banner-text">
            <div class="banner-title">We See</div>
            <div class="banner-subtitle">What Other Don't See.</div>
        </div>
        <div class="banner-circles">
            <div class="banner-collection1">
                <div class="banner-circle">
                    <div class="banner-circle-icon"><i class="bi bi-calendar2"></i></div>
                    <div class="banner-circle-text">Planning</div>
                    <i class="bi bi-chevron-right rightarrow"></i>
                </div>
                <div class="banner-circle">
                    <div class="banner-circle-icon"><i class="bi bi-file-earmark"></i></div>
                    <div class="banner-circle-text">Mockup</div>
                    <i class="bi bi-chevron-right rightarrow rightarrow2"></i>
                </div>
            </div>
            <div class="banner-collection2">
                <div class="banner-circle">
                    <div class="banner-circle-icon"><i class="bi bi-funnel"></i></div>
                    <div class="banner-circle-text">Develope</div>
                    <i class="bi bi-chevron-right rightarrow"></i>
                </div>
                <div class="banner-circle">
                    <div class="banner-circle-icon"><i class="bi bi-hand-thumbs-up"></i></div>
                    <div class="banner-circle-text">Provide</div>
                </div>
            </div>
        </div>
    </div>
</div>