<div id="ourblog" class="ourblog">
    <div class="container-fluid ourblog-content">
        <div class="ourblog-titles">
            <div class="ourblog-description">News Feeds</div>
            <div class="ourblog-heading">Our Blog</div>
        </div>
        <div class="container-fluid ourblog-contentboxes">
            <div class="ourblog-content-box">
                <div class="ourblog-image-1">

                </div>
                <div class="ourblog-data">
                    <div class="ourblog-datacontent">
                        <div class="ourblog-icon">
                            <div class="ourblog-miniicon"><i class="bi bi-chat-square"></i></div>
                            <div class="ourblog-mininumb">123</div>
                        </div>
                        <div class="ourblog-numbers">
                            <div class="ourblog-miniicon"><i class="bi bi-eye"></i></div>
                            <div class="ourblog-mininumb">123</div>
                        </div>
                    </div>
                </div>
                <div class="ourblog-details">
                    <div class="ourblog-data-heading">Possmis Alquiem Vienum</div>
                    <div class="ourblog-data-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Explicabo praesentium dolorem, necessitatibus, nulla recusandae assumenda officiis</div>
                    <div class="ourblog-readmore">
                        <h6>Read More...</h6>
                    </div>
                </div>
            </div>
            <div class="ourblog-content-box">
                <div class="ourblog-image-2">

                </div>
                <div class="ourblog-data">
                    <div class="ourblog-datacontent">
                        <div class="ourblog-icon">
                            <div class="ourblog-miniicon"><i class="bi bi-chat-square"></i></div>
                            <div class="ourblog-mininumb">123</div>
                        </div>
                        <div class="ourblog-numbers">
                            <div class="ourblog-miniicon"><i class="bi bi-eye"></i></div>
                            <div class="ourblog-mininumb">123</div>
                        </div>
                    </div>
                </div>
                <div class="ourblog-details">
                    <div class="ourblog-data-heading">Possmis Alquiem Vienum</div>
                    <div class="ourblog-data-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Explicabo praesentium dolorem, necessitatibus, nulla recusandae assumenda officiis</div>
                    <div class="ourblog-readmore">
                        <h6>Read More...</h6>
                    </div>
                </div>
            </div>

            <div class="ourblog-content-box">
                <div class="ourblog-image-3">

                </div>
                <div class="ourblog-data">
                    <div class="ourblog-datacontent">
                        <div class="ourblog-icon">
                            <div class="ourblog-miniicon"><i class="bi bi-chat-square"></i></div>
                            <div class="ourblog-mininumb">123</div>
                        </div>
                        <div class="ourblog-numbers">
                            <div class="ourblog-miniicon"><i class="bi bi-eye"></i></div>
                            <div class="ourblog-mininumb">123</div>
                        </div>
                    </div>
                </div>
                <div class="ourblog-details">
                    <div class="ourblog-data-heading">Possmis Alquiem Vienum</div>
                    <div class="ourblog-data-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Explicabo praesentium dolorem, necessitatibus, nulla recusandae assumenda officiis</div>
                    <div class="ourblog-readmore">
                        <h6>Read More...</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>