<div class="container home-box">
    <div class="homebox-content">
        <div class="hombox-content1 homebox1">
            <div class="homebox-imgtext">
                <div class="homebox-img"><i class="bi bi-brush brushicon"></i></div>
                <div class="homebox-text">UI/UX Design</div>
            </div>
            <div class="homebox-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Excepturi repellat quidem exercitationem laboriosam.</div>
        </div>
        <div class="hombox-content1 homebox2">
            <div class="homebox-imgtext">
                <div class="homebox-img"><i class="bi bi-funnel funnelicon"></i></div>
                <div class="homebox-text">Web Development</div>
            </div>
            <div class="homebox-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Excepturi repellat quidem exercitationem laboriosam.</div>
        </div>
        <div class="hombox-content1 homebox3">
            <div class="homebox-imgtext">
                <div class="homebox-img"><i class="bi bi-phone mobileicon"></i></div>
                <div class="homebox-text">App Design</div>
            </div>
            <div class="homebox-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Excepturi repellat quidem exercitationem laboriosam.</div>
        </div>
    </div>
</div>
