<div id="ourportfolio" class="portfolio">
    <div class="container-fluid portfolio-content">
        <div class="portfolio-titles">
            <div class="portfolio-description">Our Awesome Works</div>
            <div class="portfolio-title">Our Portfolio</div>
        </div>
        <div class="container portfolio-boxes">
            <div class="portfolio-box-row1">
                <div class="container portfolio-box-1">
                </div>
                <div class="portfolio-box-2">
                </div>
            </div>
            <div class="portfolio-box-row2">
                <div class="portfolio-box-3">
                </div>
                <div class="portfolio-box-4">
                </div>
            </div>
            <div class="portfolio-box-row3">
                <div class="portfolio-box-5">
                </div>
                <div class="portfolio-box-6">
                </div>
            </div>
        </div>
    </div>
</div>